<pie>
	<div class="pie" onclick={printMsg}>{fruit} Pie</div>
	<script>
		console.log(this);
		this.printMsg = function(event){
			this.fruit = "Strawberry";
			alert(this.fruit + ' is tasty.');
		};
	</script>
	
</pie>